body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  font-family: "Syne Mono", monospace;
}

#font{
  font-family: "Syne Mono", monospace;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.search-group {
  display: flex;
  justify-content: center;
  padding: 5% 0px 5% 5px;
  font-family: "Syne Mono", monospace;
}


/* Navbar */
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  gap: 10px;
  background-color: #3f37c9;
  color: lightgray !important;
  font-size: 17px;
}

.navbar-link {
  margin-right: 1rem;
}

/* Footer */

footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: lightgray;
  background-color: #3f37c9;
  padding: 1rem;
  text-align: justify;
}

.single-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* padding: 5px; */
}

/* .single-card > * {
  flex: 1 1 80px;
  padding: 2rem 0rem 0 0rem;
} */

.image-card {
  flex: 30%;
  padding-left: 1rem;
  align-content: center;
  align-items: center;
}

.description-card {
  flex: 70%;
  padding: 2rem 5rem 2rem 3rem;
  border: 2rem;
  font-size: 1.3rem;
}

/* .grid-2-container {
  display: flex;
  flex-wrap: wrap;
  
} */

.img_size_medium {
  border-radius: 50%;
  width: 100%;
  padding: 2rem;
}

/* button {
  display: center;
} */

/* Style for single cards */
.multiple-cards {
  display: flex;
  /* flex-direction: wrap; */
  /* background-color: red; */
  flex-direction: column; /* how the items inside each card will be displayed */
  border: black;
  /* padding-bottom: 10px 10px 10px 10px; */
  -ms-flex-align: center;
  padding-top: 10px;
  padding-bottom: 1rem;
}
/* 
.testing {
  display: flex;
  flex-direction: wrap;
  background-color: yellow;
  flex-direction: column;
  flex: 1fr 1fr 25%;
} */

/* .displayCard-title {
  position: flex;
  flex-direction: wrap;
  background-color: blue;
} */
.container-multiple-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px 20px 20px;
  width: auto;
  height: auto;
  background-image: linear-gradient(rgb(254, 254, 255), rgb(244, 245, 247));
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  color: #3f37c9;
  /* padding-top: 10rem; */
}

h3 {
  text-align: center;
  margin-right: 30%;
}

.background {
  /* background-color: #f6f8f9; */
  text-align: center;
}

.direction-center {
  color: lightgray;
  display: flex;
  -ms-flex-align: center;
  background-color: #3f37c9;
}

.display-middle {
  display: flex;
  -ms-flex-align: center;
  padding: 2% 15% 0% 15%;
}

Header {
  color: #3f37c9;
}

h3 {
  padding: 0 10% 0% 10%;
}

.container {
  padding-top: 2.5rem;
}

/* Source: https://wweb.dev/resources/css-separator-generator/    */
/* .container {
  padding-top: 2rem;
  position: relative;
  background: rgb(244, 245, 247);
  height: 50vh;
} */

/* .wave {
  position: absolute;
  height: 78px;
  width: 100%;
  background: rgb(244, 245, 247);
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: rgb(244, 245, 247);
  left: -1.5%;
  top: 40%;
} */

Button {
  text-align: center;
}

.paddings {
  padding-top: 2rem;
}

.display-button {
  display: flex;
  -ms-flex-align: center;
  background-color: #3f37c9;
}

ul {
  list-style: none;
}

a {
  color: white !important;
}
.card-surprise-me-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-surprise-me {
  /* border-color: red; */
  /* border-style: double; */
  margin: 2rem 10rem 2rem 10rem;
  box-shadow: 3rem;
  background-color: rgb(243, 246, 247);
  border-radius: 3rem;
  max-width: 100%;
}

#root {
  background: rgb(246, 247, 249);
  background: linear-gradient(
    180deg,
    rgba(246, 247, 249, 1) 22%,
    rgba(170, 177, 189, 1) 82%
  );
}

@media (max-width:730px) {
  .mobile-hidden{
    display:none;
  }  
}
