body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-group {
  /* background-color: aqua; */
  display: flex;
  -ms-flex-align: center;
  padding-bottom: 20px;
}

/* 
.flex {
  display: flex;
  flex-wrap: wrap;
  border: red;
} */

footer {
  color: lightgray;
  display: flex;
  -ms-flex-align: center;
  background-color: #3f37c9;
}

nav {
  display: flex;
  -ms-flex-align: center;
  justify-content: space-between;
  background-color: #f6f8f9;
}

.navbar-right {
  display: flex;
  -ms-flex-align: right;
  /* justify-content: space-between; */
}

.single-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
}

.single-card > * {
  flex: 1 1 80px;
  padding: 2rem 2rem 0 5rem;
}

/* .grid-2-container {
  display: flex;
  flex-wrap: wrap;
  
} */

/* .img_size_medium {
  border-radius: 50%;
  width: 100%;
  height: 20rem;
  width: auto;
} */

/* button {
  display: center;
} */

/* Style for single cards */
.multiple-cards {
  display: flex;
  flex-direction: wrap;
  /* background-color: red; */
  flex-direction: column; /* how the items inside each card will be displayed */
  border: black;
  /* padding-bottom: 10px 10px 10px 10px; */
  -ms-flex-align: center;
  padding-top: 10px;
}
/* 
.testing {
  display: flex;
  flex-direction: wrap;
  background-color: yellow;
  flex-direction: column;
  flex: 1fr 1fr 25%;
} */

/* .displayCard-title {
  position: flex;
  flex-direction: wrap;
  background-color: blue;
} */
.container-multiple-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* flex: 1 1 25%; */
  /* width: auto;
  height: auto; */
  /* background-color: chartreuse; */
}

/* .multiple-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  height: auto;
  background-color: brown;
  border: black;
} */

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.background {
  background-color: #f6f8f9;
}

.direction-center {
  color: lightgray;
  display: flex;
  -ms-flex-align: center;
  background-color: #3f37c9;
}

Header {
  color: #3f37c9;
}
