body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App, #font{
  font-family: "Syne Mono", monospace;
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  gap: 10px;
  background-color: #3f37c9;
  color: lightgray !important;
  font-size: 17px;
}

.navbar-link {
  margin-right: 1rem;
}

/* Footer */

footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: lightgray;
  background-color: #3f37c9;
  padding: 1rem;
  text-align: center;
}

/* Main */

/* Input and Search Button */

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5% 0 5% 5%;
}

/* Search results */

.container-multiple-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
  background-image: linear-gradient(rgb(233,235,239), rgb(254, 254, 255));
  text-align: center;
}

/* Style for single cards - how the items inside each card will be displayed */
.multiple-cards {
  display: flex;
  flex-direction: column; 
  border: black;
  -ms-flex-align: center;
  padding-top: 10px;
  padding-bottom: 1rem;
}






/* Surprise me page */

/* Card Title and body */
.card-surprise-me-container{
  display:flex;
  align-items: center;
  gap:10px;
  margin: 2rem;
}

.card-surprise-me {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 246, 247);
  border-radius: 3rem;
}

.card-surprise-me > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.image-card {
  flex: 30%;
  padding-left: 1rem;
  align-content: center;
  align-items: center;
}

.description-card {
  flex: 70%;
  padding: 2rem 5rem 2rem 3rem;
  border: 2rem;
  font-size: 1.3rem;
}

.img_size_medium {
  border-radius: 50%;
  width: 100%;
  padding: 2rem;
}


h1, h2, h3, h4, Button {
  text-align: center;
  line-height: 2
}

h1 {
  color: #3f37c9;
}

h3 {
  padding: 0 10% 0% 10%;
}

/* .display-middle {
  display: flex;
  -ms-flex-align: center;
  padding: 2% 15% 0% 15%;
} */

Header {
  color: #3f37c9;
}


.container {
  padding-top: 8rem;
}

.paddings {
  padding-top: 2rem;
}

.display-button {
  display: flex;
  -ms-flex-align: center;
  background-color: #3f37c9;
}

ul {
  list-style: none;
}

a {
  color: white !important;
}

#root {
  /* background: rgb(246, 247, 249); */
  background: linear-gradient(
    180deg,
    rgba(246, 247, 249, 1) 22%,
    rgba(170, 177, 189, 1) 82%
  );
  /* background: rgb(63,55,201); */
}

@media (max-width:730px) {
  .mobile-hidden{
    display:none;
  }  
}
